.header {
    height: 100vh;
    min-height: 100vh;
    background-image: url(../images/bg-header.jpg);
    background-position: 50% 0px;
    background-size: cover;
    background-color: #999;
    position: relative;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        height: auto;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        background: #0b1520;
        opacity: 0.7;
    }

    .navbar-inverse {
        background-color: transparent !important;
        border-color: transparent !important;
        position: relative;
        z-index: 2;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #fff !important;
        font-size: 12px;

        &:hover {
            color: #41C3D3 !important;
        }
    }

    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.active>a:focus,
    .navbar-inverse .navbar-nav>.active>a:hover {
        color: #fff;
        background-color: transparent !important;
        color: #41C3D3 !important;
    }

    .navbar-inverse .navbar-toggle {
        border-color: transparent !important;
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: transparent !important;
    }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #fff;
    }

    .header__section {
        color: #fff;
        position: relative;
        color: #fff;
        z-index: 2;
        height: calc(100vh - 58px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: 767px) {
            height: auto;
        }

        .header__section__title {
            text-align: center;
            font-size: 20px;
            color: #41C3D3 !important;
        }

        .header__section__desc {
            text-align: center;
            font-size: 16px;
            margin: 20px 0;
        }

        .header__section__img {
            max-width: 100%;
            margin: auto;
            height: 200px;
            border-radius: 50%;
            border: 3px solid #fff;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 1;
                background: #0b1520;
                opacity: 0.7;
            }
        }

        .header__section__link {
            padding: 5px;
            background-color: #41C3D3 !important;
            color: #fff;
            font-size: 30px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            transition: all 0.4s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.padding-10 {
    padding: 10px !important;
}

.line-height-30 {
    line-height: 30px !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip.top .tooltip-inner {
    background-color: #41C3D3;
    font-family: "IRANSans" !important;
    color: #000 !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #41C3D3;
}

.dot-container {
    position: absolute;
    border: 0px solid #fff;
    border-radius: 50px;

    &:nth-child(2) {
        transform: rotate(40deg);

        .dot {
            //animation-delay: -0.35s;
            animation-delay: -0.5s;
        }
    }

    &:nth-child(3) {
        transform: rotate(80deg);

        .dot {
            //animation-delay: -0.35s;
            animation-delay: -1s;
        }
    }
}

.dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 5px;
    transform: translate(0, 0);

    &:nth-child(1) {
        top: 0;
        left: calc(50% - 5px);
        animation: ani1 2s infinite;
    }

    &:nth-child(2) {
        bottom: calc(28% - 5px);
        left: calc(11% - 5px);
        animation: ani2 2s infinite;
    }

    &:nth-child(3) {
        bottom: calc(28% - 5px);
        right: calc(11% - 5px);
        animation: ani3 2s infinite;

    }
}

[hidden] {
    display: none;
}

@keyframes anirotate {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(-359deg);
    }
}

@keyframes ani1 {
    0% {
        transform: translate(0, 0);

    }

    100% {
        transform: translate(-40px, 67px);
    }
}

@keyframes ani2 {
    0% {
        transform: translate(0, 0);

    }

    100% {
        transform: translate(77px, 0);
    }
}

@keyframes ani3 {
    0% {
        transform: translate(0, 0);

    }

    100% {
        transform: translate(-39px, -67px);
    }
}

.loading {
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.99;
}